<div class="row justify-content-center">

  <div class="col-6">
      <h3>Login</h3>
<form class="login-form">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="username-login" class="form-control" />
    <label class="form-input" for="username-login">Email</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password-login" class="form-control" />
    <label class="form-input" for="password-login">Password</label>
  </div>


  <!-- Submit button -->
  <button type="submit" class="btn btn-dark btn-block mb-4">Login</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Don't have an account? <a href="/signup">Signup</a></p>
  </div>
</form>

<script src="./js/login.js"></script>