<div class="row justify-content-center">

  <div class="col-6">
    <h3>Signup!</h3>
    <form class="form signup-form">
      <!-- Name input -->
      <div class="form-outline mb-4">
        <input type="text" id="name-signup" class="form-control" />
        <label class="form-input" type="text" for="name-signup">Name</label>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="username-signup" class="form-control" />
        <label class="form-input" for="username-signup">Email</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="password-signup" class="form-control" />
        <label class="form-input" type="text" for="password-signup">Password</label>
      </div>

      <!-- Submit button -->
      <div class="form-outline mb-4">
        <button type="submit" class="btn btn-dark btn-block mb-4">Signup</button>
      </div>
      <!-- Register buttons -->
      <div class="text-center">
        <p>Already have an account? <a href="/login">Login</a></p>
      </div>
    </form>

    <script src="./js/signup.js"></script>